.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #ffffff;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow-y: auto;
  font-family: 'Segoe UI', sans-serif;
}

.logo-container {
  text-align: center;
  margin-bottom: 15px;
}

.logo {
  width: 120px;
  height: auto;
  border-radius: 15px;
}

.nombre-app {
  font-size: 16px;
  color: #9933cc;
  margin-top: 5px;
}

.menu-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  margin: 8px 12px;
  background-color: #ffe6f5;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 500;
  color: #333;
}

.menu-item:hover {
  background-color: #d980ff;
  color: white;
  transform: scale(1.02);
}

.menu-item:hover img {
  filter: brightness(0) invert(1);
}

.menu-item span {
  font-size: 15px;
}

.menu-item img.icono {
  width: 26px;
  height: 26px;
}

.menu-item.activo {
  background: linear-gradient(to right, #f093fb, #f5576c);
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.menu-item.activo img {
  filter: brightness(0) invert(1);
}


/* Contenedor principal */
.app-container {
  display: flex;
}

/* Contenido principal (se ajusta para no quedar solapado por el sidebar) */
.contenido {
  margin-left: 200px; /* Mismo ancho que el sidebar */
  padding: 30px;
  width: calc(100% - 220px);
  min-height: 100vh;
  background: #f4f4f4;
  transition: margin-left 0.3s ease;
}

/* Efecto responsive */
@media (max-width: 768px) {
  .sidebar {
      width: 180px;
  }

  .contenido {
      margin-left: 180px;
      width: calc(100% - 180px);
  }
}
